{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
        <title>{% block title %}Набор API методов{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <p><a href="{% url 'staff:api_employees' %}" target="_blank">API по сотрудникам</a></p>
        <p><a href="{% url 'staff:api_departments' %}" target="_blank">API по департаментам</a></p>
        <p><a href="swagger" target="_blank">Swagger документация</a></p>
    </body>

</html>
